<ul class="nav nav-pills">

  <li role="presentation" class="enabled">
    <%= link_to "All Artists", artists_path%>
  </li>
  <li role="presentation" class="enabled">
    <!-- <%= link_to "Add New Artist", new_artist_path %> -->

  </li>
  <!-- <li role="presentation" class="disabled">

  </li> -->

</ul>
<br>
