<h1>All Artists:</h1>
<hr>

<% @artists.each do |artist| %>
<% if artist.photos.any?%>
<% artist.photos.each do |photo| %>
<%= image_tag photo.image%>
<%end%>
<%else%>
<p>This Artist has no picture</p>
<%end%>
<h3><%= link_to "#{artist.first_name} #{artist.last_name}", artist %></h3>
<%end%>
